version: '3.8'

services:
  frontend:
     build: ./forntend
     container_name: frontend
     restart: always
     ports:
       - "5173:5173"
     volumes:
          - ./forntend:/app
          - frontend_node_modules:/app/node_modules
     environment:
       - PORT=5173
   #   env_file:
   #      - ./forntend/.env
     depends_on:
        - backend

  backend:
     build: ./backend
     container_name: backend
     restart: always
     ports:
        - "3000:3000"
     volumes:
        - ./backend:/app
     environment:
        - PORT=3000
        - MONGO_URL=mongodb://mongo:27017/mydatabase
     env_file:
        - ./backend/.env
     depends_on:
        - mongo 

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=mydatabase
  
volumes:
  mongo_data:
  frontend_node_modules:


  
     
