name: build-and-lint

#triggers: define when this  workflow should run
on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

#define a job(can be declared multiple jobs)
jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install backend deps
        working-directory: backend
        run: npm ci

      - name: Lint backend
        working-directory: backend
        run: npm run lint -- --max-warnings=200

      - name: Install frontend deps
        working-directory: forntend
        run: npm ci

      - name: Lint frontend
        working-directory: forntend
        run: npm run lint -- --max-warnings=200

      - name: Build backend Docker image
        run: docker build -t backend ./backend

      - name: Build frontend Docker image
        run: docker build -t forntend ./forntend
